.hero{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.hero img{
    margin-top: 130px;
}

.hero h1{
    text-align: center;
    width: 70%;
    font-size: 70px;
    font-weight: 600;
}

.hero h1 span{
    font-size: 80px;
    background: #e27bb1;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #e27bb1;
}

.hero p{
    width: 50%;
    text-align: center;
    font-size: 24px;
    line-height: 40px;
}

.hero-action{
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 50px;

}

.hero-connect{
    padding: 25px 45px;
    border-radius: 50px;
    background: #e27bb1;
    cursor: pointer;
}

.hero-resume{
    padding: 25px 45px;
    border-radius: 50px;
    border: 2px solid #e27bb1;
    cursor: pointer;  
}

.hero-connect:hover{
    border: 2px solid white;
}

.hero-resume:hover{
    border: 2px solid white;
}